webroot/soap/process.wsdl

<?xml version="1.0"?>

<definitions name="Process"
	targetNamespace="http://example.org/Process"
	xmlns:tns=" http://example.org/Process"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

<message name="getQuoteRequest">
	<part name="symbol" type="xsd:string"/>
</message>
<message name="getQuoteResponse">
	<part name="Result" type="xsd:float"/>
</message>

<message name="loginRequest">
	<part name="username" type="xsd:string"/>
	<part name="password" type="xsd:string"/>
</message>
<message name="loginResponse">
	<part name="Result" type="xsd:string"/>
</message>

<portType name="ProcessePortType">
	<operation name="getQuote">
		<input message="tns:getQuoteRequest"/>
		<output message="tns:getQuoteResponse"/>
	</operation>

	<operation name="login">
		<input message="tns:loginRequest"/>
		<output message="tns:loginResponse"/>
	</operation>
</portType>

<binding name="ProcessBinding" type="tns:ProcessPortType">
	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="getQuote">
		<soap:operation soapAction="urn:xmethods-delayed-quotes#getQuote"/>
		<input><soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
		<output><soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
	</operation>

	<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="login">
		<soap:operation soapAction="urn:xmethods-delayed-quotes#login"/>
		<input><soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
		<output><soap:body use="encoded" namespace="urn:xmethods-delayed-quotes" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
	</operation>
</binding>

<service name="ProcessService">
	<port name="ProcessPort" binding="tns:ProcessBinding">
		<soap:address location="http://localhost/soap/server.php"/>
	</port>
</service>

</definitions>